* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.wallpaper {
    width: 1440px;
    margin: 0 auto;
}

.header_conteiner {
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation {
    padding-right: 10px;
    gap: 76px;
}

.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #4d5ae5;
    text-decoration-line: none;
}

.logo_black {
    color: #2E2F42;
}

.nav_menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #2E2F42;

    gap: 40px;
}

.adress_menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #434455;
    padding-left: 10px;
    gap: 40px;
}

.header-section {
    height: 600px;
    padding: 188px 0;
    background-color: #2E2F42;
    text-align: center;
}

.main-header {
    margin: 0 472px 42px 472px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
}

.button-header {
    width: 169px;
    height: 56px;
    padding: 16px 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


